{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title%}WorldBook{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>

    <nav>
        <div class="nav-left">
            <img class="logo" src="{% static 'images/logo.png'%}" alt="logo">
            <ul>
                <li><img class="" src="{% static 'images/notification.png'%}" alt="notification"></li>
                <li><img class="" src="{% static 'images/inbox.png'%}" alt="notification"></li>
                <li><img class="" src="{% static 'images/video.png'%}" alt="notification"></li>
            </ul>
        </div>
        <div class="nav-right">
            <div class="search-box">
                <img src="{% static 'images/search.png'%}" >
                <input type="text" placeholder="Search">
            </div>
            <div class="nav-user-icon online">
                <img src="{% static 'images/profile-pic.png'%}" alt="user-icon" >
            </div>
        </div>
    </nav>
    {% block content%}
        

    {% endblock %}
</body>
</html>