{% load static %}

<div class="main-container">
    <div class="story-gallery">
        <div class="story story1">
            <img src="{% static 'images/upload.png'%}" alt="upload">
            <p>Post story</p>
        </div>
        <div class="story story2">
            <img src="{% static 'images/member-1.png'%}" alt="upload">
            <p>Allison</p>
        </div>
        <div class="story story3">
            <img src="{% static 'images/member-2.png'%}" alt="upload">
            <p>Jackson</p>
        </div>
        <div class="story story4">
            <img src="{% static 'images/member-3.png'%}" alt="upload">
            <p>Samona</p>
        </div>
        <div class="story story5">
            <img src="{% static 'images/member-4.png'%}" alt="upload">
            <p>John Doe</p>
        </div>
    </div>

    <div class="write-post-container">
        <div class="user-profile">
            <img src="{% static 'images/profile-pic.png'%}" alt="">
            <div>
                <p>John Nicholson</p>
                <small>public <i class="fa-solid fa-caret-down"></i></small>
            </div>
        </div>

        <div class="post-input-container">
            <textarea placeholder="what's in your mind, John?" rows="3"></textarea>
            <div class="add-post-links">
                <a href="http://" ><img src="{% static 'images/live-video.png'%}" >Live Video</a>
                <a href="http://" ><img src="{% static 'images/photo.png'%}" >Photo Video</a>
                <a href="http://" ><img src="{% static 'images/feeling.png'%}" >Feeling activity</a>
            </div>
        </div>


    </div>

    <div class="post-container">
            <div class="post-row">

                <div class="user-profile">
                    <img src="{% static 'images/profile-pic.png'%}" alt="">
                    <div>
                        <p>John Nicholson</p>
                        <span>June 24 2022, 13:34 pm </span>
                    </div>
                </div>
                <a href="http://" ><i class="fa fa-ellipsis-v"></i></a>
            </div>
            
            <p class="post-text">Subscribe <span>@Easy titorials</span> Youtube Channel to watch 
                more videos on website development and UI design. <a href="http://" >#EasyTutorials</a> 
                <a href="http://" >#YoutubeChannel</a></p>
            <img class="post-img" src="{% static 'images/feed-image-1.png'%}" alt="feed-image">

            <div class="post-row">
                <div class="activity-icons">
                    <div><img src="{% static 'images/like-blue.png'%}" >130</div>
                    <div><img src="{% static 'images/comments.png'%}" >47</div>
                    <div><img src="{% static 'images/share.png'%}" >78</div>
                </div>
                <div class="post-profile-icon">
                    <img src="{% static 'images/profile-pic.png'%}" alt="profile-pic"> <i class="fa-solid fa-caret-down"></i> 
                    
                </div>
            </div>

    </div>

    <div class="post-container">
        <div class="post-row">

            <div class="user-profile">
                <img src="{% static 'images/profile-pic.png'%}" alt="">
                <div>
                    <p>John Nicholson</p>
                    <span>June 24 2022, 13:34 pm </span>
                </div>
            </div>
            <a href="http://" ><i class="fa fa-ellipsis-v"></i></a>
        </div>
        
        <p class="post-text">Like and share this video with friends, tag <span>@Easy titorials</span> Facebook page on your post.
            Ask your doubts in the comments <a href="http://" >#EasyTutorials</a> <a href="http://" >#YoutubeChannel</a></p>
        <img class="post-img" src="{% static 'images/feed-image-2.png'%}" alt="feed-image">

        <div class="post-row">
            <div class="activity-icons">
                <div><img src="{% static 'images/like.png'%}" >100</div>
                <div><img src="{% static 'images/comments.png'%}" >470</div>
                <div><img src="{% static 'images/share.png'%}" >29</div>
            </div>
            <div class="post-profile-icon">
                <img src="{% static 'images/profile-pic.png'%}" alt="profile-pic"> <i class="fa-solid fa-caret-down"></i> 
                
            </div>
        </div>

    </div>

    <div class="post-container">
        <div class="post-row">

            <div class="user-profile">
                <img src="{% static 'images/profile-pic.png'%}" alt="">
                <div>
                    <p>John Nicholson</p>
                    <span>June 24 2022, 13:34 pm </span>
                </div>
            </div>
            <a href="http://" ><i class="fa fa-ellipsis-v"></i></a>
        </div>
        
        <p class="post-text">Like and share this video with friends, tag <span>@Easy titorials</span> Facebook page on your post.
            Ask your doubts in the comments <a href="http://" >#EasyTutorials</a> <a href="http://" >#YoutubeChannel</a></p>
        <img class="post-img" src="{% static 'images/feed-image-3.png'%}" alt="feed-image">

        <div class="post-row">
            <div class="activity-icons">
                <div><img src="{% static 'images/like.png'%}" >100</div>
                <div><img src="{% static 'images/comments.png'%}" >470</div>
                <div><img src="{% static 'images/share.png'%}" >29</div>
            </div>
            <div class="post-profile-icon">
                <img src="{% static 'images/profile-pic.png'%}" alt="profile-pic"> <i class="fa-solid fa-caret-down"></i> 
                
            </div>
        </div>

    </div>

    <div class="post-container">
        <div class="post-row">

            <div class="user-profile">
                <img src="{% static 'images/profile-pic.png'%}" alt="">
                <div>
                    <p>John Nicholson</p>
                    <span>June 24 2022, 13:34 pm </span>
                </div>
            </div>
            <a href="http://" ><i class="fa fa-ellipsis-v"></i></a>
        </div>
        
        <p class="post-text">Like and share this video with friends, tag <span>@Easy titorials</span> Facebook page on your post.
            Ask your doubts in the comments <a href="http://" >#EasyTutorials</a> <a href="http://" >#YoutubeChannel</a></p>
        <img class="post-img" src="{% static 'images/feed-image-4.png'%}" alt="feed-image">

        <div class="post-row">
            <div class="activity-icons">
                <div><img src="{% static 'images/like.png'%}" >100</div>
                <div><img src="{% static 'images/comments.png'%}" >470</div>
                <div><img src="{% static 'images/share.png'%}" >29</div>
            </div>
            <div class="post-profile-icon">
                <img src="{% static 'images/profile-pic.png'%}" alt="profile-pic"> <i class="fa-solid fa-caret-down"></i> 
                
            </div>
        </div>

    </div>

    <div class="post-container">
        <div class="post-row">

            <div class="user-profile">
                <img src="{% static 'images/profile-pic.png'%}" alt="">
                <div>
                    <p>John Nicholson</p>
                    <span>June 24 2022, 13:34 pm </span>
                </div>
            </div>
            <a href="http://" ><i class="fa fa-ellipsis-v"></i></a>
        </div>
        
        <p class="post-text">Like and share this video with friends, tag <span>@Easy titorials</span> Facebook page on your post.
            Ask your doubts in the comments <a href="http://" >#EasyTutorials</a> <a href="http://" >#YoutubeChannel</a></p>
        <img class="post-img" src="{% static 'images/feed-image-5.png'%}" alt="feed-image">

        <div class="post-row">
            <div class="activity-icons">
                <div><img src="{% static 'images/like.png'%}" >100</div>
                <div><img src="{% static 'images/comments.png'%}" >470</div>
                <div><img src="{% static 'images/share.png'%}" >29</div>
            </div>
            <div class="post-profile-icon">
                <img src="{% static 'images/profile-pic.png'%}" alt="profile-pic"> <i class="fa-solid fa-caret-down"></i> 
                
            </div>
        </div>

    </div>

    <button type="button" class="load-more-btn">Load More</button>

</div>