{% load static %}

<div class="right-sidebar">
    <div class="sidebar-title">
        <h4>Events</h4>
        <a href="http://">See All</a>
    </div>

    <div class="event">
        <div class="left-event">
            <h3>18</h3>
            <span>March</span>
        </div>
        <div class="right-event">
            <h4>Social Media</h4>
            <p><i class="fa-solid fa-location-dot"></i> Willson Tech Park</p>
            <a href="http://">More Info</a>
        </div>
    </div>
    <div class="event">
        <div class="left-event">
            <h3>30</h3>
            <span>July</span>
        </div>
        <div class="right-event">
            <h4>Digital Marketing</h4>
            <p><i class="fa-solid fa-location-dot"></i> Willson Tech Park</p>
            <a href="http://">More Info</a>
        </div>
    </div>

    <div class="sidebar-title">
        <h4>Advertisements</h4>
        <a href="http://">Close</a>
    </div>
    <img src="{% static 'images/advertisement.png'%}" alt="advertisement" class="right-sidebar-ads">

    <div class="sidebar-title">
        <h4>Conversation</h4>
        <a href="http://">Hide Chat</a>
    </div>

    <div class="online-user-list">
        <div class="online">
            <img src="{% static 'images/member-1.png'%}" alt="">
        </div>
        <p>Alison Mina</p>
    </div>
    
    <div class="online-user-list">
        <div class="online">
            <img src="{% static 'images/member-2.png'%}" alt="">
        </div>
        <p>Jackson Aston</p>
    </div>
    
    <div class="online-user-list">
        <div class="online">
            <img src="{% static 'images/member-3.png'%}" alt="">
        </div>
        <p>Samona Rose</p>
    </div>
    



</div>

